@media all and (min-width : 861px) {
    /* 햄버거버튼 ----------------------------------- */
    #menuIcon{
        display: none;
    }
    #menuIcon + label{
        display: none;
        /* display: block;
        width: 30px; height: 15px;
        position: absolute; top: 22.5px; left: 15px;
        cursor: pointer; */
    }
    #menuIcon + label span{
        display: block;
        position: absolute;
        width: 100%; height: 2px;
        border-radius: 30px;
        background-color: #ffffff;
        transition: .35s;
    }
    #menuIcon + label span:first-child{
        top: 0;
    }
    #menuIcon + label span:last-child{
        bottom: 0;
    }

    /* 메뉴버튼 체크 후 */
    #menuIcon:checked + label span:first-child{
        top: calc(50% - 1px);
        transform: rotate(45deg);
    }
    #menuIcon:checked + label span:last-child{
        bottom: calc(50% - 1px);
        transform: rotate(-45deg);
    }
    /* 햄버거버튼 끝 ----------------------------------- */

    /* 검색 모달창 -------------------------------------- */
    .searchModal{
        display: none;
        width: 100%; height: 350px;
        position: fixed; top: 0; left: 0; z-index: 99999;
        padding: 125px 4rem 1rem 4rem; box-sizing: border-box;
        background-color: #ffffff;
    }
    .searchModal img{
        position: absolute; top: 30px; right: 30px;
        width: 45px; height: 45px;
        object-fit: contain;
        cursor: pointer;
    }
    .searchBox{
        display: block;
        width: 100%; height: 55px;
        font-size: 24px;
        padding: 0 10px;
        border: none;
        border-bottom: 2px solid #ffc029;
    }
    .submitBut{
        position: absolute; top: 125px; right: 4rem;
        width: 35px; height: 35px;
        background: url(../img/srch_icon.svg) center center;
        background-size: contain;
    }
    .tagBox{
        width: 100%; height: calc(100% - 100px);
        padding: 2rem 1rem; box-sizing: border-box;
    }
    .tagBox a{
        display: inline-block;
        font-size: 1.2rem; font-weight: 700;
        padding: 0.5rem 0.8rem; box-sizing: border-box;
        margin-right: 1rem; 
    }
    /* 모바일/탭 br ---------------------------------------- */
    .m_br{
        display: none;
    }
    .hiddenMenuBg{
        visibility: hidden;
    }
    .wrap{
        height: 270vh;
    }
    p::selection{
        background-color: #ffc029;
    }

    /* 헤더 ================================================================= */

    header{
        width: 100%; height: 100px;
        position: fixed; top: 0; left: 0; z-index: 999;
        display: flex; justify-content: space-between; align-items: center;
        padding: 0 2rem; box-sizing: border-box; 
        background-color: #ffffff;
    }
    .mainLogo{
        width: 150px; height: 100%;
    }
    .mainLogo a{
        display: block; width: 100%; height: 100%;
        background: url(../img/mainLogo.png) center center no-repeat;
        background-size: contain;
    }
    .MenuWrap{
        width: calc(100% - 250px); height: 100%;
        display: flex; justify-content: right; align-items: center;
    }
    .MenuWrap a{
        padding: 0.5rem 0.8rem; box-sizing: border-box;
        font-size: 1.5rem;
        font-family: 'Rubik Bubbles', system-ui;
    }
    .searchBut{
        width: 35px; height: 35px;
        border-radius: 100px;
        background: url(../img/srch_icon.svg) center center;
        background-size: contain;
    }
    /* 메인컨텐츠 영역 ======================================================== */
    .contentsWrap{
        height: 220vh;
        display: flex; justify-content: space-between;
    }

    .leftContainer{
        width: 35%; height: 100vh;
        position: sticky; top: 0; left: 0; z-index: 2;
    }
    .textWrap{
        width: 100%; height: calc(100% - 15vw);
        display: flex; flex-direction: column;
        justify-content: center; align-items: center;
    }
    .campaignTitle{
        font-size: 6vw;
        font-family: 'Rubik Bubbles', system-ui;
        padding: 1.5rem 0;
        color: rgb(88, 55, 11);
    }
    .campaignTitle ~ h4{
        font-size: 2rem;
        text-align: center;
    }
    .campaignTitle ~ p{
        font-size: 1.4rem;
        text-align: center;
        padding: 1rem 0;
    }
    .leftContainer img{
        position: absolute; bottom: -5vw; left: 0;
        height: 25vw;
        object-fit: contain;
    }
    .rightContainer{
        width: 65%; height: 220vh;
        position: absolute; top: 0; right: 2rem;
        padding-left: 1.5rem; box-sizing: border-box;
        display: flex; justify-content: space-around;
    }
    .line{
        width: 45%; height: 100%;
        display: flex; flex-direction: column;
        justify-content: center; align-items: center;
    }
    .leftLine{
        margin-top: -8rem;
    }
    .conBox{
        width: 100%; height: fit-content;
    }
    .conBox:not(:last-child) {
        margin-bottom: 10vh;
    }
    .conBox div{
        height: fit-content;
    }
    .conBox img{
        object-fit: contain;
    }
    .conBox h5{
        font-size: 1.5rem;
        padding: 0.5rem 0;
    }
    .conBox mark{
        background-color: transparent;
    }
    .conBox:hover mark{
        background-color: #ffc029;
    }
    .conBox p{
        font-size: 1.2rem;
        line-height: 1.7rem;
    }
    .viewMore{
        width: 65%;
        display: flex; justify-content:center;
        position: absolute; bottom: 0; right: 0;
    }
    .viewMore a{
        
        font-size: 1.5rem; text-align: center;
        font-family: 'Rubik Bubbles', system-ui;
        padding: 2rem 2.5rem; box-sizing: border-box;
        background: url(../img/button-basic-stroke.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
    }

    /* 푸터 영역 ==================================================== */
    footer{
        margin-top: 5vw;
        width: 100%; height: 400px;
        background-color: black; color: #ffffff;
        padding: 2rem; box-sizing: border-box;
        position: relative;
    }
    .footWrap{
        width: 100%;
        display: flex; justify-content: space-around; align-items: center;
    }
    .otherPage{
        width: 60%;
        display: flex; flex-direction: column;
    }
    .otherPage a{
        font-size: 3rem; font-family: 'Rubik Bubbles', system-ui;
        padding: 1.5rem 0 0.5rem 0; box-sizing: border-box;
    }
    .shortCutLink{
        width: 40%;
        display: flex; flex-direction: column;
        align-items: end; justify-content: space-around;
    }
    .shortCutLink a{
        font-size: 1.5rem;
        padding: 0.7rem 0;
    }
    footer span{
        position: absolute; bottom: 2rem; left: 2rem;
        color: #555;
    }
}/* 미디어쿼리 끝 */


